@tailwind base;
@tailwind components;
@tailwind utilities;

.features-bg {
    background-image: url("/src/assets/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}